.item{
  width: 25%;
  height: 200px;
  margin: 0px;
  padding: 0px;
}

.item:hover{
  text-decoration: none;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item:hover .image{
  opacity: 0.2;
}

.title{
  text-align: center;
  color: #ffffff;
  transform: translateY(-150%);
  font-weight: bold;
  visibility: hidden;
  font-size: 15px;
  padding: 5px;
  margin: 5px;
}

.item:hover .title{
  visibility: visible;
}

@media only screen and (max-width: 768px) {
  .item {
    width: 50%;
    height: 150px;
  }
  .image{
    opacity: 0.7;
  }
  .title{
    visibility: visible;
    font-size: 12px;
  }
}
