.tutorial-content{
  width: 100%;
  height: 100%;
  background: #efefef;
  padding: 50px 200px 200px 200px;
}

.main-image{
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  margin: 0px 0px 50px 0px;
}

.main-title{
  font-weight: bold;
  color: #171717;
}

.tutorial-info{
  margin: 15px 0px 15px 0px;
}

.tutorial-text{
  color: #555555;
  font-size: 20px;
}

.tutorial-text h2{
  color: #171717;
}

.author-name{
  margin-right: 50px;
  font-weight: bold;;
}

.author-image{
  width: 30px;
  border-radius: 100%;
  margin-right: 10px;
}

.tutorial-date{
  color: #555555;
  font-weight: bold;
}
